<p id="notice"><%= notice %></p>

<h1>物件編集</h1>

<p>
  <strong>物件名:</strong>
  <%= @property.name %>
</p>

<p>
  <strong>賃料:</strong>
  <%= @property.price %><span>円</span>
</p>

<p>
  <strong>住所:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>築年数:</strong>
  <%= @property.year %><span>年</span>
</p>

<p>
  <strong>備考:</strong>
  <%= @property.note %>
</p>

<%= link_to '更新する', edit_property_path(@property) %> |
<%= link_to '戻る', properties_path %>
