<%= form_for(access) do |f| %>
  <% if access.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(access.errors.count, "error") %> prohibited this access from being saved:</h2>

      <ul>
      <% access.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2>最寄り駅1</h2>

  <div class="field">
    <%= f.label :"路線名" %>
    <%= f.text_field :route1 %>
  </div>

  <div class="field">
    <%= f.label :"駅名" %>
    <%= f.text_field :station1 %>
  </div>

  <div class="field">
    <%= f.label :"徒歩分数" %>
    <%= f.number_field :distance1 %>分
  </div>

  <h2>最寄り駅2</h2>

  <div class="field">
    <%= f.label :"路線名" %>
    <%= f.text_field :route2 %>
  </div>

  <div class="field">
    <%= f.label :"駅名" %>
    <%= f.text_field :station2 %>
  </div>

  <div class="field">
    <%= f.label :"徒歩分数" %>
    <%= f.number_field :distance2 %>分
  </div>

  <div class="actions">
    <%= f.submit "登録する" %>
  </div>
<% end %>
