<p id="notice"><%= notice %></p>

<p>
  <strong>路線名:</strong>
  <%= @access.route %>
</p>

<p>
  <strong>駅名:</strong>
  <%= @access.station %>
</p>

<p>
  <strong>徒歩分数:</strong>
  <%= @access.distance %>
</p>

<%= link_to '編集', edit_access_path(@access) %> |
<%= link_to '戻る', accesses_path %>
